



.nav {
    background-color: rgb(17, 16, 16)t;
}

.shopping-cart {
    position: relative;
}


.shopping-cart-icon {
    margin-right: 1em;
    color: rgb(20, 20, 20);
}

.shopping-cart-badge {
    position: absolute;
    left: 18px;
}


.link {
    text-decoration: none !important;
}


